LIQUID_PHOTOS_HOST_DATA_DIR=./Local_DB
LIQUID_PHOTOS_PORT=8000
DJANGO_SECRET_KEY=liquid-photos-demo-secret-key
DJANGO_ALLOWED_HOSTS=*
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_DEBUG=true
APP_DEFAULT_USERNAME=uploader
APP_DEFAULT_PASSWORD=change-me-now
APP_DEFAULT_IS_STAFF=false
APP_DEFAULT_IS_SUPERUSER=false
