DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=*
LIQUID_PHOTOS_DATA_DIR=./Local_DB
LIQUID_PHOTOS_TELEGRAM_BOT_USERNAME=liquid_photos_searcher_bot
LIQUID_PHOTOS_TELEGRAM_BOT_ID=<telegram-bot-id>
LIQUID_PHOTOS_TELEGRAM_BOT_TOKEN=<telegram-bot-token>
