bEnableAiModule=true
sComputeDevice=mps
sOpenClipModelName=ViT-L-16-SigLIP2-256
sOpenClipPretrained=webli
sCaptionModelName=Salesforce/blip-image-captioning-base
sTranslationModelName=Helsinki-NLP/opus-mt-ru-en
bEnableQueryRewrite=true
sQueryRewriteModelPath=NovaAI-Shipping/models/query-rewriter/Qwen2.5-1.5B-Instruct-4bit
